{
  "plugins": [["babel-plugin-styled-components", {
    "displayName": true
  }]],
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": 2
    }],
    "@babel/react"]
}
